@import "tailwindcss";

@theme {
  --color-furia-black: #000000;
  --color-furia-gray: #111111;
  --color-furia-white: #ffffff;
  --color-furia-blue: #0070f3;
  --color-furia-blue-light: #e6f0ff;
  --color-furia-blue-dark: #0051a2;
  --color-furia-lightGray: #9ca3af;
  --color-furia-lightBlack: #222;
  --gradient-furia: linear-gradient(to top, #000000, #111111);
  --scrollbar-bg: transparent;
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-furia-lightBlack); 
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
