@import "tailwindcss";

@theme {
  --color-furia-black: #000000;
  --color-furia-gray: #111111;
  --color-furia-white: #ffffff;
  --color-furia-blue: #0070f3;
  --color-furia-blue-light: #e6f0ff;
  --color-furia-blue-dark: #0051a2;
  --color-furia-lightGray: #9ca3af;
  --color-furia-lightBlack: #222;
  --gradient-furia: linear-gradient(to top, #000000, #111111);
}
